* {
	background-color: black;
}


header h1 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 50px;
	color: white;
	text-align: centered;
}

header h6 {
	text-align: centered;
	color: Aquamarine;
}
